# Firebase Config (https://firebase.google.com/)
VITE_FIREBASE_API_KEY = 
VITE_FIREBASE_AUTH_DOMAIN = 
VITE_FIREBASE_PROJECT_ID = 
VITE_FIREBASE_STORAGE_BUCKET = 
VITE_FIREBASE_MESSAGING_SENDER_ID = 
VITE_FIREBASE_APP_ID = 
VITE_FIREBASE_MEASUREMENT_ID = 

# Youtube V3 Auth Token (https://console.cloud.google.com/)
VITE_YOUTUBE_V3_AUTH_TOKEN = 

# Scenery api ipinfo base url
VITE_SCENERY_API_IPINFO_BASE_URL = 

# Scenery api media base url
VITE_SCENERY_API_MEDIA_BASE_URL = 

# Scenery api image base url
VITE_SCENERY_API_IMAGE_BASE_URL = 

# Scenery api ai base url
VITE_SCENERY_API_AI_BASE_URL = 
